@import './colors';
@import './fonts';



/* styles in src/style directory are applied to the whole page */
body {
  background: @purple_0;
  background-image: url("./../../public/img/img_background@2x.jpg") ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}


a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.center-align {
	text-align: center;
}
