<div class='center-align'>
<div class="login">
	
	<div class="row">
		<div class="col-xs-12 title">
			<div class="text">Triangle</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 subtitle">
			<div class="text">Chat with interesting people in your city.</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 input">
			<div class="input-group">
			  <input type="text" class="form-control top" placeholder="EMAIL" ng-model="vm.data.email">
			  <input type="password" class="form-control bottom" placeholder="PASSWORD" ng-model="vm.data.password">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 submit-button">
			<button class="btn btn-default" ng-click="vm.submit()" >SIGN IN</button>
		</div>
	</div>
		
	
</div>
</div>